# Python
*.pyc
__pycache__/
.venv/
env/
venv/
*.pyo
*.pyd
.Python
*.sqlite3

# VSCode/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Others
*.log
*.tmp
*.bak
*.swp
*.env
.env.*
